.dot {
    background-color: black;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    display: none;
}

.subdot {
    height: 5px;
    width: 5px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

.traildot {
    height: 5px;
    width: 5px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}

#text-style {
    background-color: red;
}

.display {
    background-color: white;

}

body {
    margin: 0;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    overscroll-behavior: contain;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkpoint {
    width: 80px;
    height: 80px;
    background-color: black;
    position: absolute;
    touch-action: none;
    border-radius: 70%;
    display: none;
    align-items: center;
    justify-content: right;
}

.checkpointFake {
    width: 80px;
    height: 80px;
    background-color: black;
    position: absolute;
    touch-action: none;
    border-radius: 70%;
    display: none;
    align-items: center;
    justify-content: right;
}

#checkpoint1 {
    bottom: 50px;
    left: calc(50% - 40px);
    display: flex;
}

.label {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: white;
    position: absolute;
    top: 28px;
    left: 34px;
    z-index: 5;
    user-select: none;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    font-size: xx-large;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
}

.modal-header,
.modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-footer button {    
    font-size: xx-large;
}

.modal-header {
    margin-bottom: 10px;
}

.modal-title {
    font-size: xx-large;
    font-weight: bold;
}

.modal-close {
    cursor: pointer;
}


html,
body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

.text-body {
    display: table-cell;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#startButton {
    height: 3em;
    width: 5em;
    font-size: xx-large;
    text-align: center;
}


.title {
    text-align: center;
}

.instructions {
    text-align: left;
    font-size: xx-large;
    padding-left: 10%;
    padding-right: 10%;
}

li {
    margin: 1rem;
}

#timer {
    font-size: xx-large;
}

#maxspeedbody {
    margin: 0;
    height: 100%;
    overflow: hidden;
}